
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700&display=swap');
/* Importa a fonte 'Prompt' do Google Fonts */

:root {
    --main-color: #00eeff;
    --text-color: #ffffff;
    --bg-color-01: #1f242d;
    --bg-color-02: #323946;
    --color-00: #0000001a;
    
    --color-01: #999999;
    --color-02: #009539;
    --color-03: #7950f2;
    --color-04: #c00000;
    --color-05: #232323;
    /* Define variáveis de cores para usar em todo o CSS */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    /* Reseta margens, padding, box-sizing e outros estilos padrão, além de definir rolagem suave */
}

html {
    font-family: "Prompt", serif;
    font-size: 16px;
    /* Define a fonte e o tamanho da fonte para o HTML */
}

body {
    background-color: var(--bg-color-01);
    color: var(--text-color);
    /* Define o fundo e a cor do texto do corpo */
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.1rem;
    background-color: var(--bg-color-01);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    /* Define o estilo do cabeçalho, tornando-o fixo no topo da página */
}

.logo {
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
    /* Estilo da logo no cabeçalho */
}

.nav-responsive {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem;
    background-color: var(--bg-color-01);
    /* Estilo do menu de navegação responsivo que aparece em telas menores */
}

.nav a, .nav-responsive a {
    font-size: 1.2rem;
    color: var(--text-color);
    padding: 0.5rem 1rem;
    transition: 0.4s;
    /* Estilo dos links de navegação */
}

.nav a:hover, .nav-responsive a:hover {
    color: var(--main-color);
    /* Estilo dos links ao passar o mouse por cima */
}

section {
    min-height: 100vh;
    padding: 6rem 6rem 2rem;
    /* Estilo das seções da página, com altura mínima e padding */
}

span {
    color: var(--main-color);
    /* Estilo para elementos <span> */
}

.home, .about {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /* Estilo das seções 'home' e 'about' com layout flexbox */
}

.home-img {
    border-right: solid 0.6rem;
    border-bottom: solid 0.6rem;
    border-image: linear-gradient(135deg, transparent 50%, var(--main-color)) 1;
    /* Estilo da imagem na seção 'home' com bordas gradientes */
}

.about-img {
    border-left: solid 0.6rem;
    border-bottom: solid 0.6rem;
    border-image: linear-gradient(225deg, transparent 50%, var(--main-color)) 1;
    /* Estilo da imagem na seção 'about' com bordas gradientes */
}

.about {
    background-color: var(--bg-color-02);
    /* Fundo da seção 'about' */
}

.home-img img, .about-img img {
    width: 100%;
    /* Estilo das imagens dentro das seções 'home' e 'about' */
}

.home-content, .about-content {
    width: 45%;
    /* Largura do conteúdo textual nas seções 'home' e 'about' */
}

.home-content h1, .about-content h1 {
    font-weight: 700;
    line-height: 1.3;
    /* Estilo dos títulos nas seções 'home' e 'about' */
}

.home-content h3, .about-content h3 {
    font-weight: 700;
    font-size: 1.6rem;
    /* Estilo dos subtítulos nas seções 'home' e 'about' */
}

.home-content p, .about-content p {
    margin-top: 1.2rem;
    text-align: justify;
    /* Estilo dos parágrafos nas seções 'home' e 'about' */
}

.services h2, .portifolio h2, .contact h2 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
    text-align: center;
    /* Estilo dos títulos nas seções 'services', 'portfolio' e 'contact' */
}

.services-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1rem;
    /* Layout do container de serviços em flexbox */
}

.services-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 25rem;
    margin-bottom: 1rem;
    /* Estilo das caixas individuais de serviços */
}

.services-container .services-box {
    padding: 2rem 1rem 2.5rem;
    border-radius: 1.2rem;
    text-align: center;
    border: solid 0.15rem var(--bg-color-01);
    background-color: var(--bg-color-02);
    transition: 0.5s ease;
    /* Estilo detalhado das caixas de serviços */
}

.services-container .services-box:hover {
    border-color: var(--main-color);
    transform: scale(1.01);
    /* Efeito ao passar o mouse sobre as caixas de serviços */
}

.services-box i {
    font-size: 4.3rem;
    color: var(--main-color);
    /* Estilo dos ícones dentro das caixas de serviços */
}

.services-box h3 {
    font-size: 1.5rem;
    /* Estilo dos títulos dentro das caixas de serviços */
}

.services-box p{ 
    margin: 0.5rem; 
    letter-spacing: 0.1rem; 
    display: -webkit-box, -webkit-box-orient vertical; 
    overflow: hidden, -webkit-line-clamp 4; 
    text-overflow: ellipsis;
    /* Estilo dos parágrafos dentro das caixas de serviços */
}

.portifolio {
    background-color: var(--bg-color-02);
    /* Fundo da seção de portfólio */
}

.portifolio-container {
    display: grid;
    gap: 1.2rem;
    /* Layout do container de portfólio em grid */
}

.portifolio-box {
    position: relative;
    border-radius: 0.6rem;
    box-shadow: 0 0 0.6rem var(--bg-color-01);
    overflow: hidden;
    display: flex;
    /* Estilo das caixas individuais de portfólio */
}

.portifolio-box img {
    width: 100%;
    transition: 0.5s ease;
    /* Define a largura da imagem para 100% e aplica uma transição suave de 0.5 segundos */
}

.portifolio-box img:hover {
    transform: scale(1.1);
    /* Aumenta a escala da imagem em 10% quando o mouse passa por cima */
}

.portifolio-box .portifolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(30rem);
    transition: 0.5s ease;
    /* Estiliza a camada sobreposta na caixa de portfólio */
}

.portifolio-box:hover .portifolio-layer {
    transform: translateY(0);
    /* Move a camada sobreposta para cima quando o mouse passa por cima */
}

.portifolio-layer h4 {
    font-size: 1.8rem;
    /* Define o tamanho da fonte do título na camada sobreposta */
}

.portifolio-layer p {
    margin: 0.2rem 0 0.5rem;
    /* Define as margens dos parágrafos na camada sobreposta */
}

.portifolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background: var(--text-color);
    border-radius: 50%;
    /* Estiliza os links como botões circulares na camada sobreposta */
}

.portifolio-layer a i {
    font-size: 1.2rem;
    color: var(--bg-color-02);
    /* Define o tamanho e a cor dos ícones nos links da camada sobreposta */
}

form {
    max-width: 45rem;
    margin: 0.6rem auto;
    text-align: center;
    margin-bottom: 2rem;
    /* Estiliza o formulário com largura máxima, centralizado e margens */
}

form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* Estiliza a caixa de entrada com layout flexível e espaçamento entre itens */
}

form .input-box input,
form textarea {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    color: var(--text-color);
    background-color: var(--bg-color-02);
    border-radius: 0.5rem;
    margin: 0.4rem 0;
    /* Estiliza os campos de entrada e textarea do formulário */
}

form textarea {
    resize: none;
    /* Evita o redimensionamento da área de texto */
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.2rem;
    background-color: var(--bg-color-01);
    /* Estiliza o rodapé com layout flexível, centralizado e padding */
}

.social-media {
    width: 100%;
    /* Define a largura total para o container de mídia social */
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background: transparent;
    border: solid 0.15rem var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 1.8rem 0.5rem;
    transition: 0.5s ease;
    /* Estiliza os links de mídia social como botões circulares com borda */
}

.social-media a:hover {
    background-color: var(--main-color);
    color: var(--bg-color-02);
    box-shadow: 0 0 0.3rem var(--main-color);
    /* Aplica efeitos de hover nos botões de mídia social */
}

.btn {
    display: inline-block;
    padding: 0.7rem 1.8rem;
    background-color: var(--main-color);
    border-radius: 2rem;
    color: var(--bg-color-02);
    font-weight: 600;
    letter-spacing: 0.1rem;
    transition: 0.3s ease;
    margin-top: 1.2rem;
    /* Estiliza os botões com padding, cor de fundo, bordas arredondadas e transição */
}

.btn:hover {
    box-shadow: 0 0 0.3rem var(--main-color);
    background-color: inherit;
    color: var(--main-color);
    cursor: pointer;
    /* Aplica efeitos de hover nos botões */
}

.menu-hamburguer {
    display: none;
    cursor: pointer;
    /* Esconde o ícone do menu hambúrguer por padrão e define o cursor como pointer */
}

.bar1, .bar2, .bar3 {
    width: 2rem;
    height: 0.3rem;
    background-color: var(--text-color);
    margin: 0.4rem 0;
    transition: 0.3s ease;
    /* Define o estilo das barras do menu hambúrguer */
}

.change .bar1 {
    transform: translate(0, 0.65rem) rotate(-45deg);
    /* Transforma a primeira barra em uma diagonal quando o estado muda */
}

.change .bar2 {
    opacity: 0;
    /* Oculta a segunda barra quando o estado muda */
}

.change .bar3 {
    transform: translate(0, -0.65rem) rotate(45deg);
    /* Transforma a terceira barra em uma diagonal quando o estado muda */
}

@media (min-width: 0px) {
    .menu-hamburguer {
        display: block;
    }
    .nav {
        display: none;
    }
    .nav-responsive a {
        display: block;
        font-size: 1.2rem;
        margin: 0.5rem 0;
    }
    section {
        padding: 6rem 2.5rem;
    }
    .home, .about {
        flex-direction: column;
        gap: 1.2rem;
    }
    .home-img, .about-img {
        width: 80%;
        max-width: 80%;
    }
    .home-content, .about-content {
        width: 100%;
    }
    .home-content div {
        text-align: center;
    }
    .home-content h1, .about-content h1 {
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.3;
    }
    .services-container {
        flex-direction: column;
        align-items: center;
    }
    .services-box {
        width: 100%;
    }
}
/* Estilos aplicados a todos os dispositivos, definindo o layout inicial das seções,
o menu hamburguer, navegação responsiva e dimensões das imagens e conteúdo */

@media (min-width: 576px) {
    .home-img, .about-img {
        width: 65%;
        max-width: 65%;
    }
    .services-box {
        width: 70%;
    }
}
/* Ajustes de layout para dispositivos com largura mínima de 576px, reduzindo a
largura das imagens nas seções 'home' e 'about', e a largura das caixas de serviços */

@media (min-width: 768px) {
    .menu-hamburguer {
        display: none;
    }
    .nav {
        display: block;
    }
    .nav-responsive, .nav-responsive a {
        display: none;
    }
    .home, .about {
        flex-direction: row;
        justify-content: space-evenly;
    }
    .home-img, .about-img {
        max-width: 35%;
    }
    .home-content, .about-content {
        width: 50%;
    }
    .services-box {
        width: 60%;
        margin-bottom: 2rem;
    }
    .portifolio-container {
        grid-template-columns: auto auto;
    }
    form .input-box input {
        width: 49%;
    }
}
/* Estilos para dispositivos com largura mínima de 768px, mudando o menu hamburguer e
nav para display none/block, layout das seções 'home' e 'about' para row, ajustando
largura das imagens e conteúdo, largura e margem das caixas de serviços, 
e configuração do grid no container de portfólio */

@media (min-width: 992px) {
    .services-container {
        flex-direction: row;
        gap: 1.2rem;
    }
}
/* Ajustes de layout para dispositivos com largura mínima de 992px, mudando a 
direção do container de serviços para row e adicionando um gap */

@media (min-width: 1200px) {
    .home-img, .about-img {
        max-width: 25%;
    }
    .home-content h1 {
        font-size: 2.7rem;
    }
    .home-content h3 {
        font-size: 2rem;
    }
    .portifolio-container {
        grid-template-columns: auto auto auto;
    }
}
/* Estilos para dispositivos com largura mínima de 1200px, ajustando a largura 
das imagens nas seções 'home' e 'about', aumentando os tamanhos das fontes dos 
títulos e configurando 3 colunas no container de portfólio */